colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
loguru==0.7.2 ; python_version >= "3.11" and python_version < "3.12"
python-dotenv==1.0.1 ; python_version >= "3.11" and python_version < "3.12"
win32-setctime==1.1.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
